.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.loader {
  margin: 100px;
  border: 10px solid #EAF0F6;
  border-radius: 50%;
  border-top: 10px solid #004080;
  width: 100px;
  height: 100px;
  animation: spinner 4s linear infinite;
}
.container {
  position: relative;
}
.text {
  position: absolute;
  top: 45px;
  left: 32px;
  z-index: 2;
  color:#004080
}
#loadingDiv{
  margin-top: 20px;
  margin-left: 25%;
}
.dial {
  width: 120px;
  height: 120px;
  border: 10px solid #EAF0F6;

  border-top: 10px solid #004080;
  background-color: #eff0f2;
  border-radius: 50%;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0%  {
    transform:rotate(0deg);
  }
     100% {
    transform:rotate(360deg);
  }

}


