<br><br><br><br>
<footer class="fixed-bottom mt-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-5 mt-3 ">
                <p class="copyright text-light">Copyright © {{_global.year}}; This website made by Web Developer <a class="text-white text-decoration-none " href="https://github.com/AliFathy-1999"> <mat-icon svgIcon="github"></mat-icon> Ali Ahmed Fathi</a></p>
            </div>
            </div>
        </div>
</footer>

