
<mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
<br>
<button class="btn btn-primary mt-3" (click)="loadingImage()"> load </button>
<!--<div *ngIf="loading"  class="loader m-auto p-4">

  <p  class="text">Loading {{counter}}s</p>
  <div class="dial"></div>
</div>-->

<div class="m-auto">
  <div *ngIf="loading" class="container">
    <span class="text">Loading... {{counter}}s</span>
    <div class="dial"></div>
  </div>
</div>






 <!-- <section>
    <h4>Button Toggle inside of a Template-driven form</h4>
    <mat-button-toggle-group appearance="legacy"  #group="matButtonToggleGroup">
      <mat-button-toggle  [(ngModel)]="selection.simple" name="simple" #simple="ngModel" (click)="handleSimple()">Simple</mat-button-toggle>
      <mat-button-toggle  [(ngModel)]="selection.advanced" name="advanced" #advanced="ngModel" (click)="handleAdvanced()">Advanced</mat-button-toggle>
    </mat-button-toggle-group>
    <p>Chosen value is {{group.value}}</p>
  </section>
  <div *ngIf="simpleoptions">
    <p>is simple</p>
    <div class="d-flex justify-content-center">
     <input type="color"  class="form-control form-control-lg fs-4  col-3"[(ngModel)]="colors.color" #color="ngModel" >
    </div>
    <p>{{colors.color}}</p>

<div class="d-flex">
  <input type="number" class="form-control form-control-lg  me-2 mb-2 fs-4 " placeholder="R" name="red" [(ngModel)]="rgb.red" #red="ngModel" max="255" (change)="colorchange2($event)">
  <input type="number" class="form-control form-control-lg  me-2 mb-2 fs-4 "placeholder="G" name="green" [(ngModel)]="rgb.green" #green="ngModel" max="255">
  <input type="number" class="form-control form-control-lg  me-2 mb-2 fs-4 "placeholder="B" name="blue" [(ngModel)]="rgb.blue" #blue="ngModel" max="255" >
</div>
<div class="d-flex ">
<p class="me-4">R: {{red.value}}</p>
<p class="me-5">G: {{green.value}}</p>
<p class="ml-5">B: {{blue.value}}</p>
</div>
<div>
  <button  class="btn btn-success" (click)="setValue('#00ff00')">Set Green</button>
  <button  class="btn btn-primary" (click)="setValue('#0000ff')">Set Blue</button>
</div>
<div [style.background-color]="colorA">
  <p>{{colorA}}</p>
  <p>Test Color</p>
</div>
  </div>
  <div *ngIf="!simpleoptions">
    <form #test="ngForm" class="d-flex">
      <input type="number" class="form-control form-control-lg w-25 me-2 mb-2 fs-4" [(ngModel)]="angles.angle" #angle="ngModel"  name="angle">
      <mat-slider thumbLabel step="1" min="0" max="360" aria-label="units" [(ngModel)]="angles.angle" #angle="ngModel"  name="angle"></mat-slider>
    <button class="btn btn-primary" type="submit" (click)="handleAngle(test)">Submit</button>
    </form>
  </div>
<!--<div>
  (click)="handleSimple()"
  <button mat-button (click)="group.value = 'simple'">Set to simple</button>
  <button mat-button (click)="group.value = 'advanced'">Set to advanced</button>

</div>-->




